.pdf-calendar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  /* Adjust to fit content */
  padding: 80px 20px;
  background-color: rgba(240, 199, 35, 0.35);
}

.pdf-calendar img {
  width: 70%;
  /* Makes the image half the width of its container */
  height: auto;
  /* Maintains the aspect ratio */
  margin-bottom: 10px;
  max-width: 100%;
  /* Ensures the image is never larger than its intrinsic size */
}

.pdf-calendar a {
  text-align: center;
  color: rgb(40, 146, 188);
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
 
  .pdf-calendar img {
    width: 100%;
    height: auto;
  }
}
