.footer {
  background: rgba(240, 199, 35, 0.75);
  font-family: 'Arial', sans-serif; /* Modern, readable typography */
  padding: 50px 0 0 0; /* Added padding at the bottom */
}

.footer a {
  color: #151515; /* Brand color for links */
  text-decoration: none; /* No underlines on links */
}

.footer a:hover,
.footer a:focus {
  text-decoration: underline; /* Underline on hover/focus for better accessibility */
}

/* Footer Sections */
.footer-section {
  margin-bottom: 20px; /* Space between sections */
}

.footer-heading {
  color: #333; /* Dark text for better readability */
  font-size: 1.5em; /* Larger font size for headings */
}

.footer-hours,
.footer-links,
.footer-contact {
  list-style: none; /* Remove list bullets */
  padding: 0; /* Remove default padding */
}

.footer-hours li,
.footer-links li,
.footer-contact li {
  line-height: 1.6; /* Adequate line height for readability */
  margin-bottom: 10px; /* Space between list items */
}

/* Icons in the footer */
.fa {
  margin-right: 8px; /* Space between icon and text */
}

/* Newsletter Form */
.subscribe-form {
  display: flex; /* Aligns the form items inline */
  margin-top: 10px; /* Space above the form */
}

.subscribe-form input[type="email"] {
  flex-grow: 1; /* Allows the input to fill the space */
  margin-right: 10px; /* Space between input and button */
  padding: 8px; /* Padding inside the input */
  border: 1px solid #ccc; /* Subtle border for the input */
}

.subscribe-form button {
  background-color: #0077cc; /* Brand color for button */
  color: white; /* White text for the button */
  border: none; /* No border */
  padding: 8px 12px; /* Padding inside the button */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Footer Bottom */
.footer-bottom {
  border-top: 1px solid #000000; /* Separator */
  padding-top: 10px; /* Space above the content */
  font-size: 0.8rem; /* Smaller font size for copyright text */
}

.footer-social-icons {
  text-align: right; /* Aligns the social icons to the right */
}

.footer-social-icons a {
  margin-left: 10px; /* Space between icons */
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .footer {
    text-align: center; /* Center alignment on smaller screens */
  }

  .footer-social-icons {
    margin-top: 10px; /* Space above icons on smaller screens */
    text-align: center; /* Center align social icons on smaller screens */
  }
}