.footer {
  background-color: rgb(244, 213, 90); /* Keeping the bright yellow background */
  color: #333; /* Dark text for contrast */
  padding: 40px 20px; /* Generous padding for overall spacing */
  font-family: 'Arial', sans-serif;
  text-align: center; /* Centralize footer content */
}

.footer h2, .footer h5, .footer h3{
  color: #333;
  margin-bottom: 20px; /* Consistent space below headings */
}


.footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px; /* Adding bottom margin to lists */
}

.footer li {
  font-size: 16px;
  line-height: 1.8;
  padding-bottom: 10px; /* Space between list items */
}

.footer a {
  color: #333;
  text-decoration: none; /* Remove underline */
}

.row {
    display: flex;
    flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-content: center;
  justify-content: space-around;
}

.footer a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.newsletter-container {
  background-color: #ffffff3d;
  padding: 20px;
  border-radius: 8px; /* Rounded corners for the container */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  margin-bottom: 20px; /* Space below the newsletter form */
}

.newsletter-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#new {
  padding: 20px;
}


.form-group {
  width: 50%; /* Full width form groups for alignment */
  margin-bottom: 15px; /* Consistent margin for form elements */
}

.form-group input, .newsletter button {
  width: 100%; /* Uniform width for inputs and button */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px; /* Rounded borders for inputs and button */
}

.newsletter button {
  background-color: #007bff; /* Vibrant blue for button */
  color: white;
  cursor: pointer;
  border: none; /* No border for a cleaner button */
}
.subscribe-button {
  background-color: rgb(40, 146, 188); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
}


.footer-bottom p {
  font-size: 12px;
  padding-top: 20px; /* Space above the footer bottom content */
  border-top: 1px solid #aaa; /* Light border for separation */
  
}

.footer-social-icons {
  margin-top: 10px; /* Space above social icons */
}

.footer-social-icons a {
  margin: 0 10px; /* Space between icons */
}
.social-icons {
  margin-bottom: 20px;
}
           
#newsletter-container {
  padding: 15px;
}

@media (max-width: 768px) {
  .footer {
      text-align: center; /* Ensure center alignment on small screens */
  }
  .newsletter-container form {
      flex-direction: column;
  }
  .form-group input, .newsletter button {
      width: 100%; /* Full width on small screens for inputs and button */
  }
}
