body {
  font-family: 'Montserrat', sans-serif;
}

.yellow-background {
  background-color: rgba(240, 199, 35, 0.75);
  padding: 20px;
  border-radius: 15px; /* Rounded corners for the container */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds depth with a subtle shadow */
}

.table {
  background-color: #fff;
  border-collapse: separate; /* Necessary for border-radius to work on tables */
  border-spacing: 0;
  margin-top: 1rem;
  width: 100%;
  border-radius: 15px; /* Rounded corners for the table */
  overflow: hidden; /* Ensures the rounded corners are visible and overflow content is clipped */
}

.table thead th {
  border-radius: 15px 15px 0 0; /* Specifically rounding the top corners of the table header */
}

.table th, .table td {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
